# Ignore all service data folders
services/*/*/data/**

# But keep the homepage service's data folder
!services/home/homepage/data/

# Ignore environment variables
**/.env

# Editor/OS files
*.log
*.DS_Store
*.swp
*.bak
