services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    env_file: 
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - ${DOZZLE_PORT}:8080
    environment:
      - DOZZLE_NO_ANALYTICS=true
      - DOZZLE_ENABLE_ACTIONS=true
      - DOZZLE_ENABLE_SHELL=true